<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}STUDENTS DISPOSAL{% endblock %}</title>
</head>
<body>
    <header>
        <h1>STUDENTS DISPOSAL</h1>
    </header>

    <nav>
        <!-- Menu de navegação comum -->
      
    </nav>

    <main>
        <!-- Conteúdo específico será inserido aqui -->
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Reconhecimento de alunos. Todos os direitos reservados pelos criadores.</p>
    </footer>
</body>
</html>